.card-container {
	width: 400px;
	margin: 20px;
}

.card-container h3 {
	min-height: 50px;
	background: #263A29;
	color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: 0;
	padding: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre-line;
	word-break:keep-all;
	word-wrap: break-word;

}

.card-container p {
	background: #A3A3A3;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-top: 0;
	padding: 20px 10px;
	height: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre-line;
	word-break:keep-all;
	word-wrap: break-word;
}
